<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mersenne Primes Found</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('calc') }}">Calculate</a></li>
            <li><a href="{{ url_for('show_mp') }}">Mersenne Primes</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
        </ul>
    </nav>
    
    <div class="container">
        <h1>Found Mersenne Primes</h1>
        <p>Total Mersenne Primes Found: </p>
        <!-- TODO: Add dynamic table population from server dict -->
        <table>
            <tr>
                <th>ID</th>
                <th>Exponent</th>
                <th>Mersenne Prime</th>
            </tr>
            {% for mp in mp_list %}
            <tr>
                <td>{{ mp.id }}</td>
                <td>{{ mp.p }}</td>
                <td>{{ mp.value }}</td>
            </tr>
            {% endfor %}
    </div>
</body>
</html>